[Desktop Entry]
Name=Chronopost ComDevice
Comment=Chronopost ComDevice
Exec=/usr/bin/chronopost-comdevice
Terminal=false
Type=Application
Icon=comdevice
Categories=Network;
