[Desktop Entry]
Name=Chronopost ComDevice
Comment=Chronopost ComDevice
Exec=bash /opt/chronopostcomdevice/Linux/launcher.sh
Terminal=false
Type=Application
Icon=comdevice.png
Categories=Network;

