
Package: chronopost-comdevice
Version: 9.1.0-2
Architecture: all
Maintainer: sebastien.ramage@gmail.com
Installed-Size: 34
Depends: openjdk-8-jre
Section: extras
Priority: optional
Homepage: https://github.com/doudz/chronopost_comdevice
Description: Chronopost ComDevice
